h1, h2, h3, h4, h5 {
    color: #65000B;
}

footer {
    background-color: #65000B;
}

.btn {
    background-color: #65000B;
    color: #FFFFFF;
}

.carousel-item {
    max-height: 25vh;
}

@media (min-width: 1250px) {
    .carousel-item {
        max-height: 50vh;;
    }
}

.description {
    text-align: justify;
}

.prestations img {
    height: 25vh;
}

.prestations .card {
    min-width: 250px;
}

.navbar {
    background-color: #65000B;
}
